
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@600&display=swap');


body {
  /* background-color: beige; */
  padding: 0;
  margin: 0;
  /* display: flex;
  flex-direction: column; */
  /* width: 100%;
  height: 100%; */
}

.firstLayout {
  background-color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  align-content: center;
  /* padding-top: 100px; */
}

/* .secondLayout {
  background-color: white;
  height: 100vh;
  width: 100%;
} */

.chart-container {
  /* position: absolute; */
  /* top: 100px;
  left: 600px; */
  /* border-style: solid;
  border-width: 5px; */
  height: 100vh;
  width: 55vw;
  padding-top: 25vh;
  z-index: 10;
}

.legendTitle {
  /* border-style: solid;
  border-width: 5px; */
  height: 100vh;
  width: 45vw;
  z-index: 10;
}

h1 {
  margin: 0;
  font-size: 56px;
  padding-top: 75px;
  color: #009DD1;
}

h3 {
  margin: 0;
  font-size: 32px;
  color: white;
}

.headers {
  /* padding-top: 100px; */
  padding-left: 50px;
  font-family: 'Spectral', serif;
}


button:hover {
  border-style: solid;
  border-width: 5px;
  border-radius: 3px;
  border-color: #009DD1;
}

#killerButton {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 300px;
  left: 50px;
}

#killerText {
  font-family: 'Spectral', serif;
  font-size: 24px;
  color: white;
  position: absolute;
  top: 270px;
  left: 130px;
  z-index: 10;
}

#weaponText {
  font-family: 'Spectral', serif;
  font-size: 24px;
  color: white;
  position: absolute;
  top: 370px;
  left: 130px;
  z-index: 10;
}

#weaponButton {
  position: absolute;
  margin: 0;
  width: 50px;
  height: 50px;
  top: 400px;
  left: 50px;
}

#locationText {
  font-family: 'Spectral', serif;
  font-size: 24px;
  color: white;
  position: absolute;
  top: 470px;
  left: 130px;
  z-index: 10;
}

.locationButton {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 500px;
  left: 50px;
}

.locationImage {
  width: 25px;
  padding-top: 0px;
}

.weaponImage {
  width: 40px;
  right: : 15px;

}

.killerImage {
  width: 35px;
  padding-top: 2px;
}



.wickBackground {
  position: absolute;
  width: 50%;
  top: 20vh;
  left: 50vh;
}

}
