@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');


body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
  /* background-image: linear-gradient(#21135c, black); */
  color: white;
  display: flex;
  justify-content: center;
  height: 100vh;

}



#epoch4Div, #epoch5Div, #epoch6Div, #cosmicHorrorDiv {
  width: 100vw;
  height: 100vh;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-style: solid;
  border-color: white; */
}

#epoch4Div {

}

#epoch5Div {

}

#epoch6Div {

}

#cosmicHorrorDiv {

}

#epoch4Header {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  bottom: 33vh;
  left: 3.0vw;
  font-size: 38px;
}
#epoch5Header {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  bottom: 33vh;
  left: 2.55vw;
  font-size: 38px;
}

#epoch6Header {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  bottom: 33vh;
  left: 1.0vw;
  font-size: 38px;
}

button {
  background-color: #3618b580;
  width: 50px;
  height: 25px;
  border-radius: 5px;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  cursor: pointer;
}

.epoch4Button {
  position: absolute;
  bottom: 31vh;
  left: 5vw;
}

.epoch5Button {
  position: absolute;
  bottom: 31vh;
  left: 11.5vw;
}

.epoch6Button {
  position: absolute;
  bottom: 31vh;
  left: 18vw;
}

/* #introScreen {
  position: absolute;
  top: 40vh;
  text-align: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
} */

#projectTitle {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  font-size: 56px;
  top: 30%;
  text-align: center;
}

#projectSubtitle {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top: 42%;
  text-align: center;
}



#epoch4HumanFace, #epoch6AndroidFace {
  position: absolute;
  z-index: 10;
  -webkit-animation: pulse 5s ease-out infinite;

}

 #epoch5HumanLeft, #epoch5AndroidRight {
   position: absolute;
   z-index: 10;
   -webkit-animation: pulse 5s ease-out infinite;
   padding-left: 5px;
   padding-right: 5px;

 }

#epoch5HumanLeft
  {
   padding-right: 220px;
 }

 #epoch5AndroidRight {
   padding-left: 220px;
 }

@keyframes pulse {
  0% {
    transform: scale(1.0);
}
  50% {
    transform: scale(1.05);
  }

}



#epoch4HumanFace:hover, #epoch6AndroidFace:hover, #epoch5HumanLeft:hover, #epoch5AndroidRight:hover {
  /* animation-name: example;
  animation-duration: 2s; */
  /* animation-duration: 2s; */
  -webkit-animation: slidein 2s forwards;
  /* opacity:50% */
}

@keyframes slidein {
  from {
    opacity: 100%;
  }

  to {
    opacity: 50%;
  }
}

#legendDiv {
  position: fixed;
  display: block;
  border-radius: 5px;
  bottom: 50px;
  left: 50px;
  width: 300px;
  height: 200px;
  background-color: #3618b580;
  font-family: 'Roboto Condensed', sans-serif;
  z-index: 100;
}

#legendHeader {
  font-size: 24px;
  margin: 0;
  padding-top: 12px;
  font-weight: bold;
}

.legendCategories, #legendHeader {
  padding-left: 15px;
}

#sensesIcon {
  position: absolute;
  top: 290px;
  left: 60vw;
  color: white;
}

#epoch4Quote2Icon {
  position: absolute;
  top: 390px;
  left: 40vw;
  color: white;
}

#epoch4Quote3Icon {
  position: absolute;
  top: 575px;
  left: 55vw;
  color: white;
}

#epoch5Quote1Icon {
  position: absolute;
  top: 290px;
  left: 60vw;
  color: white;
}

#epoch5Quote2Icon {
  position: absolute;
  top: 390px;
  left: 40vw;
  color: white;
}

#epoch5Quote3Icon {
  position: absolute;
  top: 575px;
  left: 55vw;
  color: white;
}

#epoch6Quote1Icon {
  position: absolute;
  top: 290px;
  left: 60vw;
  color: white;
}

#epoch6Quote2Icon {
  position: absolute;
  top: 390px;
  left: 40vw;
  color: white;
}

#epoch6Quote3Icon {
  position: absolute;
  top: 575px;
  left: 55vw;
  color: white;
}

#sensesIcon, #epoch4Quote2Icon, #epoch4Quote3Icon, #epoch5Quote1Icon, #epoch5Quote2Icon, #epoch5Quote3Icon, #epoch6Quote1Icon, #epoch6Quote2Icon, #epoch6Quote3Icon   {
  cursor: pointer;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 15px 5px;
  z-index: 10;
}

/* ---- particles.js container ---- */

#particles-js, #particles-js2, #particles-js3{
  width: 100%;
  height: 100%;

  z-index: -1;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
